<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div style="display: flex;">
        <img style="margin: 40px; width: 80px; height: 80px"
             src="{{ url_for('static', filename='images/Icon.png') }}">
        <h1 style="font-size: 72px">БашMAX</h1>
    </div>
</header>
<main>
<div style="display:grid; grid-template-columns:1fr 1fr; gap:20px; margin-top:20px;">
{% for p in items %}
    <div style="display:flex; border:2px solid black; border-radius:15px; padding:10px; align-items:center;">
        <div style="flex:1; padding-right:10px;">
            <b>Заказ №{{ p['id'] }}</b><br>
            Артикул: {{ p['artikul'] }}<br>
            Статус: {{ p['status'] }}<br>
            Адрес пункта выдачи: {{ p['pup_address'] }}<br>
            Дата заказа: {{ p['order_date'][:10] }}<br>
            Клиент: {{ p['fullname'] }}<br>
            Код получения: {{ p['code'] }}<br>
        </div>

        <div style="width:150px; text-align:center; display:flex; align-items:center; justify-content:center;">
            <p>Дата доставки:<br>{{ p['delivery_date'][:10] }}</p>
        </div>

        <div style="display:flex; flex-direction:column; gap:10px; margin-left:10px;">

            {% if role == 'Администратор' or role == 'Менеджер' %}

            <a href="/edit_order/{{ p['id'] }}" style="
                text-align:center;
                padding:10px 15px;
                background-color:#4CAF50;
                color:white;
                text-decoration:none;
                border-radius:5px;
                width:100px;
            ">Редактировать</a>
        {% endif %}
            {% if role == 'Администратор' %}
            <form method="post" action="/delete_order/{{ p['id'] }}" onsubmit="return confirm('Удалить заказ?');">
                <button type="submit" style="
                    text-align:center;
                    padding:10px 15px;
                    background-color:#f44336;
                    color:white;
                    border:none;
                    border-radius:5px;
                    width:100px;
                    cursor:pointer;
                ">Удалить</button>
            </form>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>
</main>

</body>
</html>